.save-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .save-button:hover {
    background-color: rgb(211, 108, 11);
    color: orange;
  }
  